<app-feedback></app-feedback>

<div id="footer">
    <!-- Main -->
    <div class="bg-light py-3" >
        <div class="row">
            <div class="col-md-3 details">
                <h4>NOIR</h4>
                <p class="small">Copyright Noir Consulting 2023</p>
            </div>
            <div class="col-md-3 offices">
                <h4>Our offices</h4>
                <ul>
                    <li><a href="#">London, UK</a></li>
                    <li><a href="#">Manchester, UK</a></li>
                    <li><a href="#">Edinburgh, UK</a></li>
                    <li><a href="#" >Munich, Germany</a></li>
                    <li><a href="#">Amsterdam, Netherlands</a></li>
                    <li><a href="#" >Zurich, Switzerland</a></li>
                    <li><a href="#">Irvine, USA</a></li>
                    <li><a href="#">New York, USA</a></li>
                    <li><a href="#" >Austin, USA</a></li>
                </ul>
            </div>
            <div class="col-md-3 links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Modern Slavery Statement</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 social">
                <h4>Social</h4>
                <ul class="social">
                    <li><a target="_blank" href="#"><img
                                src="#" /><span>LinkedIn</span></a>
                    <li><a target="_blank" href="#"><img
                                src="#" /><span>Facebook</span></a></li>
                    <li><a target="_blank" href="#"><img
                                src="#" /><span>Twitter</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark text-white py-4 text-center">
    <p>&copy; 2023 Your Tutorial Website. All rights reserved.</p>
</footer>