<mat-card>
    <mat-card-header>
        <h1>Login Form</h1>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
            <mat-form-field class="example-full-width">
                <mat-label>User Name</mat-label>
                <input class="mt-3" matInput formControlName="username">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>password</mat-label>
                <input type="password" class="mt-3" matInput formControlName="password">
            </mat-form-field>
            <div class="action-button">
                <button mat-raised-button color="primary">Login</button>
                <a routerLink="/register" mat-raised-button color="accent">New User?</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>