<section class="feedback-bar bg-light py-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <section id="instant-feedback" class="feedback-bar__instant-feedback d-flex align-items-center">
                    <span class="feedback-bar__msg">How was your experience?</span>
                    <span class="feedback-bar__thankyou d-none">Thank you for your feedback!</span>
                    <a href="#" onclick="return blif(1)" class="feedback-bar__thumb feedback-bar__thumb--up me-3"
                        title="Vote Good" aria-label="Vote for having a good experience">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="currentColor">
                            <path fill="none" d="M0 0h24v24H0V0z"></path>
                            <path
                                d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z">
                            </path>
                        </svg>
                    </a>

                    <a href="#" onclick="return blif(0)" class="feedback-bar__thumb feedback-bar__thumb--down"
                        title="Vote Bad" aria-label="Vote for having a bad experience">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="currentColor">
                            <path fill="none" d="M0 0h24v24H0V0z"></path>
                            <path
                                d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2z">
                            </path>
                        </svg>
                    </a>
                </section>
            </div>
            <div class="col-md-6">
                <section class="feedback-bar__contact text-end">
                    <a id="bls1" href="https://www.timeanddate.com/information/feedback.html?url=/time/zone/india"
                        onclick="return bls(this)" rel="nofollow" class="btn btn-primary">
                        Contact Us
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            aria-hidden="true" role="img">
                            <path
                                d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </a>
                </section>
            </div>
        </div>
    </div>
</section>